<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iwanchaw.com</title>
    <link rel="stylesheet" href="/home.css">
    
    
</head>
<body>
    <nav>
        <a href="/"><img src="562678.png" alt="" height="55px"></a>
    
        <div class="nav-content">
            <ul>
                <a href="">Rice</a>
                <a href="">Noodles</a>
                <a href="">Yam</a>
                <a href="">Beans</a>
                <a href="">Soup</a>
           
            </ul>
        </div>
        <div class="search-btn">
            <form action="" >
                <input type="search" name="" id="">
                <img src="482631.png" id="search-icon" alt="">
            </form>
        </div>
        <div class="left-nav-content">
            <% if(!currentUser){ %>
                <a href="/login">login</a>
                <a href="/signUp">sign up</a>

            <%}else{ %>
                <a href=""><%= currentUser.username %></a>
                <a href="/logout">log Out</a>
           <% } %>
            
        </div>
    </nav>