<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/signup.css">

    
<div class="login-container">
    <h1>Add Your Kitchen</h1>
    <form action="/kitchens" method="POST" enctype="multipart/form-data">
        <div class="signup">
            <input type="text" name="name" id="" placeholder="name of kitchen">
        </div>
        <div class="signup">
            <input type="file" name="profilePicture" id="" accept="image/*" placeholder="profilepicture of kitchen" accept="image/*">
        </div>
        <div class="signup">
            <input type="file" name="imagesOfFoodtoDisplay" accept="image/*" placeholder="imagesOfFoodtoDisplay" accept="image/*">
        </div>
        <div class="signup">
            <input type="text" name="caption1" id="" placeholder="caption about this picture">
        </div>
        <div class="signup">
            <input type="file" name="imagesOfFoodtoDisplay" accept="image/*" placeholder="imagesOfFoodtoDisplay2" accept="image/*">
        </div>
        <div class="signup">
            <input type="text" name="caption2" id="" placeholder="caption about this picture">
        </div>
        <div class="signup">
            <input type="file" name="imagesOfFoodtoDisplay" accept="image/*" placeholder="imagesOfFoodtoDisplay3" accept="image/*">
        </div>
        <div class="signup">
            <input type="text" name="caption3" id="" placeholder="caption about this picture">
        </div>
        <div class="signup">
            <input type="file" name="imagesOfFoodtoDisplay" accept="image/*"  placeholder="imagesOfFoodtoDisplay4" accept="image/*">
        </div>
        <div class="signup">
            <input type="text" name="caption4" id="" placeholder="caption about this picture">
        </div>
        <div class="signup">
            <textarea name="descriptionOfTheFood"  placeholder="description of your kitchen" cols="30" rows="10"></textarea>
        </div>
        <div class="signup">
            <input type="text" name="AddressofVendor"  placeholder="AddressofVendor">
        </div>
        <div class="signup">
            <input type="text" name="price" id="">
        </div>
        
        
        <input type="submit" value="submit">
    </form>
    
</div>
    
</body>
</html>


