<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IwanChaw.com</title>
        
        <link rel="stylesheet" href="slideshow.css">
        
    </head>
    <body>
        


        <div id="landing-header">
            <div class="jumbutoron">
                <h1> Welcome To I Wan Chaw</h1>
                <h2>A Website That Connects you To Best Food Vendors In Nigeria</h2>
            </div>

            <div class="second">
                <a href="/kitchens"><b>I am hungry</b></a>
            </div>
            

        </div>



        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

