
    
    <form action="/kitchen/<%=vendors._id%>/comment" method="POST">
       
        <textarea placeholder="Add comment" name="comments[text]" cols="30" rows="10" ></textarea>
        <button type="submit" id="submit">submit</button>

    </form>
