<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    
<div class="login-container">
    <h1>Sign Up</h1>
    <form action="/signUp" method="POST">
        <div class="signup">
            <input type="text" name="user[username]" id="" placeholder="username">
        </div>
        <div class="signup">
            <input type="file" name="user[profilePicture]" id="" placeholder="profilepicture url">
        </div>
        <div class="signup">
            <input type="text" name="user[Address]" id="" placeholder="Home Address">
        </div>
        <div class="signup">
            <input type="number" name="user[phoneNumber]" id="" placeholder="Phone Number">
        </div>
        <div class="signup">
            <input type="email" name="user[email]" id="" placeholder="email">
        </div>
        <div class="signup">
            <input type="password" name="password" id="" placeholder="password">
        </div>
        <button type="submit">Submit</button>
    </form>
    
</div>
    
</body>
</html>


